<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head><!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<title>Add New Book</title>
<style>
        .navbar-custom { 
            background-color: blue; 
        } 
    </style>
 
<header>
    <nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="#" style="color: white">Book Management System </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      
      <li class="nav-item">
        <a class="nav-link" href="viewBooks" style="color : white">View Books</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="viewAuthors"style="color : white"> View Authors</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="viewStores" style="color : white"> View Stores</a>
      </li>
  </div>
</nav>
</header>
</br>
</head>

<body style="background-image:url(/book.jpg); background-size: cover">
	<div class="container">

		<h1 style="text-align: center; color: white;font-style: calibri;">Add new book</h1>
       <input 
                    action="action"
                    onclick="window.history.go(-1); return false;"
                    type="submit"
                    value="Go back to previous page"
                    style="font-style: calibri; font-size: 18px;background-color:blue;color:white;margin-left: 50px"
                    />
       
       </br>
		<form th:action="addNewBook" style="text-align: center">
                    <input type="text" name="bookId" placeholder="Enter book id" style="font-size: 17px;" required><br>
			<br> <input type="text" name="bookName" placeholder="Enter the book name" style="font-size: 17px" required><br>
                        <br> <input type="text" name="category" placeholder="Enter category" style="font-size: 17px" required><br>

			<br> <input type="text" name="publication" placeholder="Enter publication" style="font-size: 17px"><br>
			<br> <br> <select name="authorId" id="dropOperator" style="font-size: 17px">
				<option value="0">Select Author</option>
				<option th:each="author : ${authors}" th:value="${author.authorId}" th:text="${author}"></option>
			</select> <br> <br>
                        
                        <br> <br> <select name="storeId" id="dropOperator" style="font-size: 17px">
				<option value="0">Select Store</option>
				<option th:each="store : ${stores}" th:value="${store.storeId}" th:text="${store}"></option>
			</select> <br> <br>

			<button style="text-align: center; font-size: 18px;background-color:greenyellow" type="submit">Add New Book</button>

		</form>
	</div>


</body>
</html>